@import "@styles/variables";
@import "@styles/mixins";

.sidebar {
  position: sticky;
  top: 0;
  background: $primary-color-dark;
  height: 100%;
  max-height: 100vh;
  max-width: 270px;
  width: 100%;
  padding: 15px;
  color: $contrast-color;
}
