@import "@styles/variables";
@import "@styles/mixins";

.chapter-item {
  margin-bottom: 25px;
  a {
    font-size: $subtitle-font-sizep;
    font-weight: $subtitle-weight;
    color: $primary-color;
    position: relative;
    margin-bottom: 10px;
    &::before {
      @include transition;
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 40%;
      right: 15%;
      width: 90%;
      height: 60%;
      background: $secondary-color;
    }

    @include transition;

    &:visited {
      color: $primary-color-dark;
      &::before {
        background: $visited-link-color;
      }
    }
    &:hover {
      &::before {
        background: $secondary-color-dark;
      }
    }
  }
}
