@import "@styles/variables";
@import "@styles/mixins";

.nav-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.nav {
  background: $primary-color;
  color: $contrast-color;

  position: relative;
  @include transition;

  &__logo {
    font-size: $main-title-font-size;
    font-weight: $title-weight;

    @extend %link;
  }

  &__link-wrapper {
    @include transition(0.2s, linear);
    background: $primary-color;
    color: $contrast-color;

    @media screen and(max-width:1024px) {
      @include flex(space-between, flex-end, $flex-direction: column);

      top: 0;
      transform: translateY(-100%);
      position: absolute;
      width: 100%;
      padding: 15px 0;

      li {
        margin-bottom: 25px;
      }
    }
    &_active {
      top: 100%;
      transform: translateY(0);
    }
  }

  
}
