// fonts family
$main-font-family: "Roboto", sans-serif;

// fonts sizes
$standart-font-size: 21px;

$main-title-font-size: 48px;

$main-title-font-size_mobile: 36px;

$article-title-font-size: 28px;

$article-title-font-size_mobile: 26px;

$subtitle-font-size: 24px;

$huge-button-font-size: 36px;

$start-screen-font-size: 92px;

$start-screen-font-size_mobile: 15vw;

// font weight
$title-weight: 700;

$subtitle-weight: 400;

$standart-font-weight: 300;
// colors

$text-color: #0d3b66;

$primary-color: #112a3f;

$primary-color-dark: #061420;

$primary-color-opacity: rgb(62, 85, 107);

$secondary-color: #f4d35e;

$secondary-color-dark: #cf3c0f;

$visited-link-color: #d6b439;

$contrast-color: white;

$subtitle-color: #333;

$dark-opacity: rgba(0, 0, 0, 0.692);

$shadow: 0px 0px 15px 0px $dark-opacity;

$admin-panel-button-color: rgb(222, 230, 238);

$admin-panel-button-color-opacity: rgb(183, 195, 207);
